<div class="row">
  <div class="small-9 columns">
    <h2>{{ election.title }}</h2>
  </div>
  <div class="small-3 columns vote">
    <a class="button" href="/vote/{{election.slug}}">Vota (pots canviar el teu vot després)</a>
  </div>
</div>
{% for question in election.questions %}
<div class="row">
  <div class="small-12 columns">
    <h4>{{ question.description }}</h4>
  </div>
</div>
{% for option in question.options %}
<div class="row option">
  {% if option.image %}
  <div class="small-2 columns">
    <img src="{% url 'media' path=option.image %}"> 
  </div>
  <div class="small-10 columns">
  {% else %}
  <div class="small-12 columns">
  {% endif %}
    <h5>{{ option.title }}</h5>
    <p><a href="{% url 'media' path=option.document %}">Presentació</a></p>
    {% if option.web %}<p><a href="{{option.web}}">Projecte polític</a></p>{% endif %}
  </div>
</div>
{% endfor %}
{% endfor %}
<div class="row">
  <div class="small-12 columns vote">
    <a class="button" href="/vote/{{election.slug}}">Vota (pots canviar el teu vot després)</a>
  </div>
</div>
