<div class="row">
  <div class="small-9 columns">
    <h2>{{ election.title }}</h2>
    {% if election.description %}{{ election.description|safe }}{% endif %}
  </div>
  <div class="small-3 columns vote">
    <a class="button" href="/vote/{{election.slug}}">Vota (pots canviar el teu vot després)</a>
  </div>
</div>
{% for question in election.questions %}
<div class="row">
  <div class="small-12 columns">
    <h4>{{ question.description|safe }}</h4>
  </div>
</div>
{% for option in question.options %}
<div class="row option">
  {% if option.image %}
  <div class="small-2 columns">
    <img src="{% url 'media' path=option.image %}"> 
  </div>
  <div class="small-10 columns">
  {% else %}
  <div class="small-12 columns">
  {% endif %}
    <h5>{{ option.title }}</h5>
    {% if option.description %}<blockquote>{{option.description|safe}}</blockquote>{% endif %}
    <ul class="candidate_links">
    {% if option.document %}<li><a target="_blank" href="{% url 'media' path=option.document %}">Presentació</a></li>{% endif %}
    {% if option.web %}<li><a target="_blank" href="{{option.web}}">Llegir més</a></li>{% endif %}
    </ul>
  </div>
</div>
{% endfor %}
{% endfor %}
<div class="row">
  <div class="small-12 columns vote">
    <a class="button" href="/vote/{{election.slug}}">Vota (pots canviar el teu vot després)</a>
  </div>
</div>
