Django==1.10.2
Pygments==2.0.2
Unidecode==0.04.17
argparse==1.2.1
awesome-slugify==1.6.2
cookies==2.2.1
coverage==3.7.1
crispy-forms-foundation==0.5.4
distribute==0.6.24
django-classy-tags==0.6.1
django-cookie-law==1.0.1
django-countries-plus==1.0.1
django-coverage==1.2.4
django-crispy-forms==1.6.1
django-hashers-passlib==0.3
django-mu==0.0.2
django-plainpasswordhasher==0.3
django-registration-redux==1.4
django-siteblocks==0.4.0
django-tables2==1.2.6
gunicorn==19.1.1
httpie==0.8.0
ipdb==0.8
ipython==2.0.0
passlib==1.6.5
psycopg2==2.5.4
regex==2014.12.24
requests==2.5.1
six==1.9.0
tldextract==1.5.1
wsgiref==0.1.2
