{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="{% static 'mieli/css/foundation.css' %}" />
    {% block css %}{% endblock %}
    <script src="{% static 'mieli/js/vendor/modernizr.js' %}"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>{{ request.organization.name }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
      {% block content %}{% endblock %}
      </div>
    </div>
    
    <script src="{% static 'mieli/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'mieli/js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
