{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ request.organization.name }} - {% block title %}Sistema de participació{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mieli/css/foundation.css' %}" />
    <link rel="stylesheet" href="{% static 'mieli/css/mieli.css' %}" />
    {% with ''|add:request.META.HTTP_HOST|add:'/css/style.css' as site_css %}<link rel="stylesheet" href="{% static site_css %}" />{% endwith %}
    {% block css %}{% endblock %}
    <script src="{% static 'mieli/js/vendor/modernizr.js' %}"></script>
  </head>
  <body>
    <header class="row full-width">
      <div class="small-12 columns">
        <nav role="navigation" class="row" data-equalizer>
          <div class="small-9 columns" data-equalizer-watch>
            <a class="logo" href="/"><h1>{{ request.organization.name }}</h1></a>
          </div>
          <div class="small-3 columns">
            <ul class="menu" data-equalizer-watch>
              <li><a data-equalizer-watch href="{% url 'registration_register' %}">Registra't</a></li>
              <li><a data-equalizer-watch href="{% url 'auth_login' %}">Identifica't</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div id="content" class="row full-width">
      <div class="small-12 columns">
        <div class="row">
        {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <footer class="row full-width">
      <div class="row">
        <div class="small-8 columns">
          <h4>{{ request.organization.name }}</h4>
        </div>
        <div class="small-4 columns">
          <h4>Programari</h4>
          <ul class="links">
            <li><a href="https://github.com/pirata-cat/mieli">GitHub</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="{% static 'mieli/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'mieli/js/foundation.min.js' %}"></script>
    <script src="{% static 'mieli/js/foundation/foundation.equalizer.js' %}"></script>
    <script src="{% static 'mieli/js/jquery.cookiesdirective/jquery.cookiesdirective.js' %}"></script>
    <script>
      $(document).foundation('equalizer', 'reflow');
      $(document).ready(function() {
          $.cookiesDirective({
              duration: 5,
              explicitConsent: false,
              message: 'Aquest lloc empra cookies per al seu funcionament. Si continues navegant estaràs acceptant-les. ',
              impliedDisclosureText: 'Per a més informació consulta la nostra',
              privacyPolicyLinkText: 'política de privacitat',
              impliedSubmitText: 'No mostrar aquest missatge de nou',
              privacyPolicyUri: 'privacitat'
          });
      });
    </script>
  </body>
</html>
